<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>AnimePerMe</title>
</head>
<body>
    {% if loading %}
    <div id="loading"></div>
    {% else %}
    <div id="content">
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" ><a href="./src/pages/index.html">Last Episode</a></li>
                        <li role="presentation"><a href="src/pages/animelist.html">Full Anime List</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Python Flask App</h3>
            </div>
        </div>
        <div class="container">
            {% for ep in lastEpisodeList %}
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ ep.name }}</h5>
                    <p class="card-text">{{ep.name ~ ": Episodio N. " ~ ep.number}}</p>
                    <a href="/video/{{ep.download_link()}}">Go To Video</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</body>
</html>