<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>AnimePerMe</title>
</head>

<body>
    <div id="loading"></div>
    <div id="content">
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="./src/pages/index.html">Last Episode</a></li>
                        <li role="presentation"><a href="src/pages/animelist.html">Full Anime List</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Anime Per Me</h3>
            </div>
        </div>
        <div class="container">
            {% for anime in lastEpisodeList %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ anime.img }}" alt="{{anime.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{ anime.name }}</h5>
                    <p class="card-text">{{anime.type ~ " N. " ~ anime.episodeNumber}}</p>
                    <button type="button" class="btn btn-link"
                        onclick="goToVideo({{ anime.serialize() }})">Stream</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        function goToVideo(anime) {
            //<a href="/video" target="_blank">Stream</a>
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/video",
                data: JSON.stringify(anime),
                success: () => {
                    //window.open('/video', '_blank');
                },
                dataType: "json"
            });
        }
    </script>
</body>

</html>